<div fxLayoutAlign="center center" style="height:100vh;">
<div style="width:400px;">
		<div *ngIf="error" style="color:crimson"> error</div>
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Iniciar sesión</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form" [formGroup]="userFormGroup" >
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="Usuario" name="user" type="text" formControlName="userName">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Contraseña" name="password" type="password" value="" formControlName="password">
			    		</div>
			    		<div >
			    	    	<label>
			    	    	¿eres nuevo? <span style="color:#0645AD" routerLink="/user">Crea una cuenta!</span>
							</label>
			    	    </div>
			    		<button class="btn btn-lg btn-success btn-block" (click)="login()" value="Login">Submit</button>
			    	</fieldset>
			      	</form>
			    </div>
	</div>
</div>